@model IEnumerable<ProductModel>
@{
    ViewData["Title"] = "Products";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">Category Listing</h1>
    </div>
    <div>
        <a asp-action="Insert" class="btn btn-primary">New Product</a>
    </div>
</header>

<hr />

<partial name="_Message"></partial>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-product">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Product in Model)
            {
                <tr>
                    <td>@Product.Name</td>
                    <td>@Product.Category.Name</td>
                    <td>@Product.Quantity.ToString("D4")</td>
                    <td>@Product.Price.ToString("C")</td>
                    <td>
                        <a asp-action="Insert" asp-route-id="@Product.IdProduct" class="btn btn-sm btn-secondary">Update</a> |
                        <a asp-action="Delete" asp-route-id="@Product.IdProduct" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <p class="">There is no product registered.</p>
}